@page "/counter"
@inject TimerBlazor.Services.Counter compteur
<h1>Counter</h1>

<p>Current count: @compteur.nombre</p>



@code {
    protected override void OnInitialized()
    {
        compteur.OnChange += Refresh;
    }
        private void Refresh() /*pour changer les donnée du compteur tout au long du timer*/
        {
            base.InvokeAsync(() => {
                StateHasChanged();
            });
        }
}
